  <div class="theme-selector">
    <div id="theme-white" (click)="storeTheme('theme-white')"></div>
    <div id="theme-black" (click)="storeTheme('theme-black')"></div>
    <div id="theme-green" (click)="storeTheme('theme-green')"></div>
    <div id="theme-orange" (click)="storeTheme('theme-orange')"></div>
    {{storedTheme}}
  </div>

  <div class="content {{storedTheme}}">

  <div class="content-box">
    <h1> Heading here</h1>
    <h3> Sub heading here</h3>
    <p>Content here.. some random stuff just to increase the content so it looks like a paragraph and can also be used
      effectively to show themes based on the selection.
    </p>
  </div>
</div>