/* You can add global styles to this file, and also import other style files */
body{
    background-color: white;
}
.content{
    background-color: white;
    h1{
        color:black;
    }
    h3{
        color:black;
    }
    p{
        color:black;
    }
}
.content.theme-white{
    background-color: white;
    h1{
        color:black;
    }
    h3{
        color:black;
    }
    p{
        color:black;
    }
}
.content.theme-black{
    background-color: black;
    h1{
        color:white;
    }
    h3{
        color:white;
    }
    p{
        color:white;
    }
}
.content.theme-green{
    background-color: lightgreen;
    h1{
        color:darkgreen;
    }
    h3{
        color:black;
    }
    p{
        color:black;
    }
}

.content.theme-orange{
    background-color: lightsalmon;
    h1{
        color:orangered;
    }
    h3{
        color:orange;
    }
    p{
        color:black;
    }
}